@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip {
    position: relative;
 }
 .tooltip::before {
    background-color: white;
    border: 1px solid #888;
    border-radius: 2px;
    color: #444;
    content: attr(data-title);
    display: none;
    font-family: sans-serif;
    font-size: 14px;
    padding: 2px 5px;
    position: absolute;
    top: -70px;
    left: -10px;
    z-index: 1;
 }
 .tooltip:hover::before {
    display: block;
 }